{% extends 'layout.html.twig' %}

{% block title %}Apprenant index{% endblock %}

{% block body %}
    <h1>Apprenant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Cohorte</th>
                <th>Cursus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for apprenant in apprenants %}
                <tr>
                    <td>{{ apprenant.id }}</td>
                    <td>{{ apprenant.compte.prenom }}</td>
                    <td>{{ apprenant.compte.nom }}</td>
                    <td>{{ apprenant.cohorte }}</td>
                    <td>{{ apprenant.filiere }}</td>
                    <td>
                        <a href="{{ path('apprenant_show', {'id': apprenant.id}) }}">show</a>
                        <a href="{{ path('apprenant_edit', {'id': apprenant.id}) }}">edit</a>
                    </td>  
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apprenant_new') }}">Create new</a>
{% endblock %}
