{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url(/front/assets/img/breadcrumb-bg.jpg) no-repeat">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2 text-white">
                    <ol class="breadcrumb breadcrumb-double-angle bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="page-sp-course-details.html#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="page-sp-course-details.html#">Cours</a></li>
                        <li class="breadcrumb-item">Details</li>
                    </ol>
                    <h2 class="h1">
                        Détails
                    </h2>
                </div>
                <form class="col-lg-5 my-2 ml-auto">
                    <div class="input-group bg-white rounded p-1">
                        <input type="text" class="form-control border-white" placeholder="What do you want to learn?" required="">
                        <div class="input-group-append">
                            <button class="btn btn-info rounded" type="submit">
                                Search
                                <i class="ti-angle-right small"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 z-index-10" data-offset-top-md="-40" style="margin-top: -40px;">
                    <ul class="list-inline d-inline-block py-2 px-4 shadow-v3 bg-white rounded-pill">
                        <li class="list-inline-item">Partagez <span class="d-none d-md-inline-block">le cour sur:</span></li>
                        <li class="list-inline-item mx-0">
                            <div class="sharethis-inline-share-buttons"></div>
                        </li>
                    </ul>
                </div>
            </div> <!-- END row-->
        </div>
    </section>
    <section class="paddingBottom-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 marginTop-30">
                    <h1>
                        {{ cour.libelle }}
                    </h1>
                    <div class="row mt-3">
                        <div class="col-lg-3 col-md-6 my-2">
                            <div class="media border-right height-100p">
                                <img class="iconbox mr-3" src="assets/img/avatar/4.jpg" alt="">
                                <div class="media-body">
                                    <span class="text-gray d-block">Auteur:</span>
                                    <a href="page-sp-course-details.html#" class="h6">{{ cour.auteur }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 my-2">
                            <div class="border-right height-100p">
                                <span class="text-gray d-block">Categorie:</span>
                                <a href="page-sp-course-details.html#" class="h6">{{ cour.module.libelle }}</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 my-2">
                            <div class="border-right height-100p">
                                <span class="text-gray">Notes:</span>
                                <p class="mb-0">
                                    <i class="fas fa-star text-warning small"></i>
                                    <i class="fas fa-star text-warning small"></i>
                                    <i class="fas fa-star text-warning small"></i>
                                    <i class="fas fa-star text-warning small"></i>
                                    <i class="fas fa-star-half small"></i>
                                    <span class="text-dark">4.9</span>
                                    <span>(793)</span>
                                </p>
                            </div>
                        </div>

                    </div> <!-- END row-->

                    <div class="my-4">
                        <img src="/front/assets/img/breadcrumb-bg.jpg">
                    </div>

                    <div class="col-12 mt-4">
                        <ul class="nav tab-line tab-line tab-line--3x border-bottom mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" role="tab" aria-selected="true">
                                    Description
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabDescription" role="tabpanel">
                                <p>
                                    {{ cour.description }}
                                </p>
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <div class="col-lg-3 col-md-6 my-2">
                                            <div class="text-md-right height-100p">
                                                <a class="btn btn-primary" href="{{ path('cours_show_details', {'id': cour.id}) }}">Commencer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- END row-->
                            </div> <!-- END tab-pane-->

                        </div> <!-- END tab-content-->
                    </div> <!-- END col-12 -->
                </div> <!-- END col-lg-9 -->

                <aside class="col-lg-3">
                    <div class="card border border-light marginTop-30 shadow-v1">
                        <h4 class="card-header border-bottom mb-0 h6">Choisir une catégorie</h4>
                        <ul class="card-body list-unstyled mb-0">
                            <li class="mb-2"><a href="page-sp-course-details.html">All Courses</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Web Development</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Mobile Apps</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Business</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">IT &amp; Software</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Data Science</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Design</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Marketing</a></li>
                        </ul>
                    </div>
                    <div class="card border border-light marginTop-30 shadow-v1">
                        <h4 class="card-header border-bottom mb-0 h6">Filter By</h4>
                        <ul class="card-body list-unstyled mb-0">
                            <li class="mb-2"><a href="page-sp-course-details.html">All Courses</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Featured Courses</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Popular Courses</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Starting Soon</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Intermediate</a></li>
                            <li class="mb-2"><a href="page-sp-course-details.html">Advanced</a></li>
                        </ul>
                    </div>
                    <div class="card marginTop-30 shadow-v1 hover:parent">
                        <img class="hover:zoomin" src="assets/img/262x230/9.jpg" alt="">
                        <div class="card-img-overlay text-white bg-black-0_6">
                            <h4 class="card-title">
                                Enriched Learning Experiences
                            </h4>
                            <p class="my-3">
                                Get unlimited access to 2,000 of Educati’s top courses for your team.
                            </p>
                            <a href="page-sp-course-details.html#" class="btn btn-white">Join Now</a>
                        </div>
                    </div>
                </aside> <!-- END col-lg-3 -->

            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>
    <section class="padding-y-100 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2>
                        Vous aimez aussi
                    </h2>
                    <div class="width-5rem bg-primary height-4 rounded"></div>
                </div>
                <div class="col-12 mt-4">
                    <div class="owl-carousel arrow-on-hover owl-loaded owl-drag" data-items="4" data-state-outer-class="py-4" data-arrow="true" data-autoplay="false" data-space="30" data-loop="true">
                        <div class="owl-stage-outer py-4">
                            <div class="owl-stage" style="transform: translate3d(-1140px, 0px, 0px); transition: all 0s ease 0s; width: 3705px;">
                               {% for cour in cours|slice(0, 13) %}
                                <div class="owl-item cloned" style="width: 255px; margin-right: 30px;">
                                    <div class="card text-gray height-100p shadow-v2">
                                        <a href="{{ path('cours_show', {'id': cour.id}) }}">
                                            <img class="card-img-top" src="assets/img/360x220/2.jpg" alt="">
                                        </a>
                                        <div class="p-4">
                                            <a href="{{ path('cours_show', {'id': cour.id}) }}" class="h6">
                                               {{ cour.libelle }}
                                            </a>
                                            <p class="my-3">
                                                <i class="ti-user mr-2"></i>
                                                Harry Ruberts
                                            </p>
                                            <p class="mb-0">
                                                <i class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="text-dark">3.7</span>
                                                <span>(67)</span>
                                            </p>
                                        </div>
                                        <div class="media border-top p-4 align-items-center justify-content-between">
                                            <h4 class="h5 mb-0">
                                                <span class="text-success">Free</span>
                                            </h4>
                                            <a href="page-sp-course-details.html#" class="btn btn-opacity-primary iconbox iconbox-sm" data-container="body" data-toggle="tooltip" data-placement="top" data-skin="light" title="" data-original-title="Add to wishlist">
                                                <i class="ti-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev">
                                <i class="ti-angle-left">

                                </i>
                            </div>
                            <div class="owl-next">
                                <i class="ti-angle-right">

                                </i>
                            </div>
                        </div>
                        <div class="owl-dots false disabled"></div>
                    </div>
                </div>
            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>
{% endblock %}
